.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card{
  max-width: 400px;
  margin: 20px;
}

.img-phone{
  min-height: 250px;  
  max-height: 250px;
}

mat-card-title{
  font-weight: bold;
}

.price-value{
  font-style: italic;
}
